.searchBar {
  display: flex;
  width: 75%;
  max-width: 620px;
  min-width: 325px;
  height: 65px;
  background-color: var(--text-white);
  border: 2px solid #e0e0e0;
  border-radius: 100px;
  align-items: center;
  padding-right: 9px;
}
.searchBar:hover {
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.72);
}
.searchBar input {
  display: flex;
  width: 100%;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  padding-left: 26px;
  padding-right: 26px;
  background-color: var(--text-white);
  text-transform: lowercase;
}
.searchBar input::placeholder {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--placeholder-text);
  text-transform: none;
}
.searchButton {
  display: flex;
  min-width: 50px !important;
  min-height: 50px !important;
  background: var(--text-white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.searchButton:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0);
  cursor: pointer;
}
