.searchbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.searchbar {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 920px;
  min-width: 250px;
  height: fit-content;
  background-color: var(--text-white);
  border: 2px solid #e0e0e0;
  border-radius: var(--corner-radius);
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 9px;
}
.searchbar:hover {
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.72);
}
.searchbar input {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  padding-left: 26px;
  padding-right: 26px;
  background-color: var(--text-white);
  text-transform: lowercase;
}
.searchbar input::placeholder {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--placeholder-text);
  text-transform: none;
}
.search-button {
  display: flex;
  position: absolute;
  background: var(--text-white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--corner-radius);
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0px;
  right: 9px;
}
.search-button:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0);
  cursor: pointer;
}
input[type='search']::-webkit-search-decoration {
  display: none;
}

@media screen and (max-width: 600px) {
  .searchbar input {
    text-align: center;
  }
}
