.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 100px;
  min-height: 75px;
  box-sizing: border-box;
}

.brand-logo {
  z-index: 1;
  width: 90px;
  height: 90px;
  background-color: var(--bg-color);
}

.testnet {
  padding: 2px 6px;
  border-radius: 3px;
  background: #ffbb38;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1),
    0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 8px 5px 0px rgba(0, 0, 0, 0.05),
    0px 15px 6px 0px rgba(0, 0, 0, 0.01), 0px 23px 7px 0px rgba(0, 0, 0, 0);
  color: #141416;
  font-family: Rubik-Bold;
  font-size: 10px;
  line-height: 15px;
  font-style: normal;
  font-weight: 600;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .brand-logo {
    height: 45px;
    width: 45px;
  }
  .navbar {
    padding: 0px 15px;
  }
}
