.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 100px;
  min-height: 75px;
  box-sizing: border-box;
}

.brand-logo {
  z-index: 1;
  width: 90px;
  height: 90px;
  background-color: var(--bg-color);
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .brand-logo {
    height: 45px;
    width: 45px;
  }
  .navbar {
    padding: 0px 15px;
  }
}
