.manage-domain-table-row {
  background-color: var(--bg-color);
}

th[class~='manage-domain-table-header'] {
  background: var(--bg-color) !important;
  border-radius: 0px !important;
}

thead > tr > td[class~='manage-domain-table-header'] {
  background: var(--bg-color) !important;
  justify-content: flex-start !important;
  border-radius: 0px !important;
}

.manage-domain-table-cell-row-hover {
  background-color: var(--bg-color) !important;
}

.manage-domain-table-content > table {
  border-spacing: 0px;
  width: 100%;
  background-color: var(--bg-color);
  border: none !important;
}
.manage-domain-table {
  background-color: inherit !important;
}

.manage-domain-table-body > table {
  border-spacing: 0px;
}

.manage-domain-table-tbody > tr {
  height: fit-content;
}

.manage-domain-table-thead {
  font-size: 16px;
  font-weight: 800;
  height: 50px;
}

.manage-domain-table-thead > tr > th {
  border-bottom: 1px solid var(--text-faded) !important;
  border-top: 1px solid var(--text-faded) !important;
}
.manage-domain-table-thead > tr > td {
  border-bottom: 1px solid var(--text-faded) !important;
  border-top: 1px solid var(--text-faded) !important;
}

.manage-domain-table-thead > tr > th:first-child {
  border-left: 1px solid var(--text-faded) !important;
  min-width: 50px !important;
}
.manage-domain-table-thead > tr > th:nth-child(2) {
  padding-left: 0px !important;
}

.manage-domain-table-thead > tr > th:last-child {
  border-right: 1px solid var(--text-faded) !important;
}
.manage-domain-table-thead > tr > td:first-child {
  border-left: 1px solid var(--text-faded) !important;
  min-width: 50px !important;
}
.manage-domain-table-thead > tr > td:nth-child(2) {
  padding-left: 0px !important;
}

.manage-domain-table-thead > tr > td:last-child {
  border-right: 1px solid var(--text-faded) !important;
}

.manage-domain-table-tbody > tr > td:first-child {
  padding-left: 0px !important;
}

.manage-domain-table-tbody > tr > td {
  border: 1px solid transparent;
  border-width: 1px 0px;
  padding: 10px 24px !important;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid var(--text-faded) !important;
}

.manage-domain-table-tbody > tr > td > input:focus {
  outline: 1px solid #e0e0e0;
  border-radius: 2px;
}

.manage-domain-table-tbody > .active-row {
  background-color: #757575;
}
.manage-domain-table-tbody > tr > td:nth-child(2) {
  padding-left: 0px !important;
}
.manage-domain-table-placeholder {
  color: white;
  text-align: center;
}

.manage-domain-table-cell::before {
  background-color: inherit !important;
}
.manage-domain-table-cell-ellipsis {
  background-color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  align-items: center;
  justify-content: flex-start;
}

.manage-domain-table-tbody > tr.manage-domain-table-row:hover > td {
  background-color: inherit !important;
}
.manage-domain-table-measure-row {
  display: none !important;
}

.manage-domain-table-empty
  > .manage-domain-table-container
  > .manage-domain-table-content
  > table
  > tbody
  > tr
  > td {
  background-color: unset !important;
  box-sizing: border-box;
}

.ant-spin-blur::after {
  background-color: rgb(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(2px) !important;
  opacity: 100% !important;
  border-radius: var(--corner-radius);
}
