.domain-settings-list {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  box-sizing: border-box;
  width: 100%;
}

.domain-settings-row-item {
  display: flex;
  flex-direction: row !important;
  border: var(--disabled-grey) 1px solid;
  border-radius: 4px;
  margin: 10px 0px;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  max-height: 40px;
  color: var(--text-grey);
  overflow: auto;
}

.domain-settings-row-item-action {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.domain-settings-row-item-action > li {
  display: flex;
  justify-content: flex-end;
  min-width: 75px;
  margin-left: 20px;
}

.domain-settings-meta-item-meta {
  display: flex;
  width: fit-content;
}

.domain-settings-meta-item-meta:nth-child(1) {
  width: 350px;
}
.domain-settings-meta-item-meta:nth-child(2) {
  color: var(--text-white);
}
.domain-settings-meta-item-meta:nth-child(2),
.domain-settings-meta-item-meta-content {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.domain-settings-row-item > .domain-settings-meta-item-meta:nth-child(1) {
  min-width: 250px;
  max-width: 250px;
  box-sizing: border-box;
  overflow: hidden;
}

.domain-settings-input {
  display: flex;
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  outline: none;
  color: var(--text-white);
  align-content: center;
  border-bottom: none;
}
.domain-settings-input:disabled::placeholder {
  color: var(--text-white);
}

@media screen and (max-width: 500px) {
}
