.available {
  display: flex;
  flex-wrap: wrap;
  color: var(--success-green);
  font-weight: inherit;
  font-size: inherit;
  font-family: 'Rubik';
  height: fit-content;
  text-align: center;
}
.unavailable {
  color: var(--error-red);
  font-weight: inherit;
  font-size: inherit;
  font-family: 'Rubik';
  height: fit-content;
  text-align: center;
}

.reserved {
  color: var(--text-grey);
  font-weight: inherit;
  font-size: inherit;
  font-family: 'Rubik';
  height: fit-content;
  text-align: center;
}
