.modal-close-button {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-white);
  padding: 3px;
  width: fit-content;
  height: fit-content;
  border: 2px solid var(--bg-color);
  background: none;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.modal-close-button:hover {
  border: 2px solid var(--text-white);
}

.connect-wallet-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 61%;
  max-width: 897px;
  min-width: 300px;
  height: fit-content;
  background: var(--bg-color);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  transition: all 0.5s ease;
}
.wallet-connect-button {
  display: flex;
  position: relative;
  width: 100%;
  height: 74px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 5px;
  color: var(--text-white);
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0em 1em;
  margin: 0;
  column-gap: 1em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.wallet-connect-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(255, 255, 255);
}
