.counter-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.counter {
  display: flex;
  min-width: 150px;
  width: 15%;
  background: var(--text-white);
  border-radius: 32.5px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.counter-button {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  border: 1px solid var(--text-white);
  background: var(--bg-color);
  color: var(--text-white);
  justify-content: center;
  align-items: center;
  font-family: 'Rubik-Bold';
  font-size: 18px;
  font-weight: 600;
}
.counter-button:hover {
  cursor: pointer;
  border: 1px solid var(--bg-color);
  font-weight: 900;
}

.counter-input {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  outline: none;
  border: none;
}

input[type='number' i] {
  padding: 0px;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
