.years-counter-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.years-counter {
  display: flex;
  width: 150px;
  height: 50px;
  background: var(--text-white);
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  margin-top: 2em;
}
.counter-button {
  display: flex;
  width: 35px;
  max-height: 35px;
  max-width: 35px;
  height: 35px;
  border-radius: 3px;
  background: var(--bg-color);
  color: var(--text-white);
  justify-content: center;
  align-items: center;
  font-family: 'Rubik-Bold';
  padding: 0;
}
.counter-button:hover {
  cursor: pointer;
}
.counter-input {
  display: flex;
  width: 50%;
  height: 100%;
  text-align: center;
  outline: none;
  border: none;
  font-size: 16px;
}

input[type='number' i] {
  padding: 0px;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
