.paginator-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #757575;
  border-radius: 1px;
  color: var(--text-white);
  fill: var(--text-white);
  min-width: 24px;
  max-width: fit-content;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}
