.ario-collapse-content-box {
  background: transparent;
  border: none;
}

.ario-collapse-header {
  background: transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.ario-collapse-header-text {
  color: var(--accent);
  font-weight: bold;
  fill: var(--accent);
}

.ario-collapse,
.ario-collapse-item {
  background: transparent;
  border-radius: 5px;
  height: fit-content;
}

.ant-collapse-expand-icon {
  color: white;
  fill: white;
}

.ant-collapse {
  border: none;
}

.ant-collapse .ant-collapse-content {
  background-color: transparent;
  color: transparent;
  border: none;
}
