.table-selector {
  display: flex;
  flex-direction: column;
  color: var(--text-faded);
  fill: var(--text-faded);
  width: 120px;
  height: 60px;
  align-items: flex-start;
  row-gap: 7px;
  cursor: pointer;
  box-sizing: border-box;
}
.table-selector-group {
  display: flex;
  flex-direction: row;
  border: var(--text-faded) 1px solid;
  border-radius: 10px;
  width: fit-content;
  position: relative;
}

.ant-table-empty
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td {
  background-color: unset !important;
}

.ant-spin-blur::after {
  background-color: rgb(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(2px) !important;
  opacity: 100% !important;
  border-radius: var(--corner-radius);
}
