.header {
  display: flex;
  flex-direction: row;
  padding: 2em;
  max-height: 10vh;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.container {
  flex: 1;
  display: flex;
}

.footer {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
