.header {
  padding: 1em;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: fit-content;
}

.footer {
  padding: 2% 0%;
  box-sizing: border-box;
  max-height: 104px;
}
