@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik1/Rubik-Regular.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('./fonts/Rubik1/Rubik-Bold.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-color: #1d1e1c;
  --text-black: #121212;
  --text-faded: #9e9e9e;
  --text-section-header: #d1d1d1;
  --text-white: #fafafa;
  --grey-white: #dfdfde;
  --error-red: #df1642;
  --success-green: #18a957;
  --action-orange: #ffbb38;
  --modal-bg: #1d1e1cee;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: none;
  background-color: var(--bg-color);
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: border-box;
  height: fit-content;
}
.navBarItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  column-gap: 1em;
  color: var(--white);
}
.navBarLink {
  display: flex;
  width: fit-content;
  color: var(--text-white);
  font-weight: 600;
  font-size: 16px;
  font-family: 'Rubik';
  text-decoration: none;
}
.connectButton {
  display: flex;
  width: 90px;
  height: 30px;
  color: var(--text-white);
  background: var(--bg-color);
  border: 2px solid var(--text-white);
  border-radius: 32.5px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 5px 5px var(--text-white);
}
.connectButton:hover {
  color: var(--text-black);
  background-color: var(--text-white);
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: fit-content;
  margin: auto;
  row-gap: 2em;

  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: visible;
}
.brandHeader {
  display: flex;
  width: 100%;
  font-family: 'Rubik-Bold';
  font-size: 4em;
  font-weight: 900;
  color: var(--text-white);
  margin: auto;
  justify-content: center;
}
.sectionHeader {
  display: flex;
  width: 100%;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 700;
  color: var(--text-section-header);
  margin: auto;
  margin-top: 1em;
  justify-content: center;
}
.searchBar {
  display: flex;
  width: 75%;
  height: fit-content;
  padding: 5px;
  border-radius: 2em;
  background-color: var(--text-white);
  border: 2px solid #e0e0e0;
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.72);
  border-radius: 100px;
  margin: auto;
}
.searchBar input {
  display: flex;
  width: 100%;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
}
.searchButton {
  display: flex;
  width: 50px;
  height: 50px;
  background: var(--text-white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
  justify-content: center;
  align-items: center;
}
.searchButton:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0);
  cursor: pointer;
}
.textFaded {
  display: flex;
  color: var(--text-faded);
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 12px;
  width: 50%;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.antCard {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
  max-height: 100%;
  background-color: var(--bg-color);
  border-radius: 30px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0);
  padding: 30px;
}
.antCard:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
.antPreview {
  display: flex;
  width: 100%;
  height: 65%;
  overflow: hidden;
}
.cardText {
  color: var(--text-white);
  font-family: 'Rubik-Bold';
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin: 0;
}
.cardTextSmall {
  color: var(--text-white);
  font-family: 'Rubik';
  font-size: 12px;
  font-weight: 200;
  width: 100%;
  margin: 0;
}
.cardFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  row-gap: 10px;
}
.featuredDomains {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}
.buttonLink {
  border: none;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--text-white);
  background: none;
  cursor: pointer;
}
.modalContainer {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  justify-content: center;
  align-items: center;
}
.connectWalletModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 61%;
  height: fit-content;
  background: var(--bg-color);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  border-radius: 24px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  margin: auto;
  margin-top: 5vh;
}
.walletConnectButton {
  display: flex;
  width: 100%;
  height: 74px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 24px;
  color: var(--text-white);
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 18px;
  padding-left: 1em;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1em;
}
.walletConnectButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(255, 255, 255);
}
.alignStart {
  justify-content: flex-start;
}
.alignEnd {
  justify-content: flex-end;
}
