/* Stage circle is still used for custom step icons */
.stage-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 16px;
  color: var(--text-grey);
  border: solid 1px var(--text-grey);
  text-align: center;
}

@media screen and (max-width: 600px) {
  .stage-circle {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
}
