.upgradeTier {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  min-width: 250px;
  height: fit-content;
}

.cardContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
