.featured-domains {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 900px;
}

.card-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  flex-wrap: wrap;
  gap: 2em;
}

@media screen and (max-width: 600px) {
  .featured-domains {
    width: 90%;
  }
  .card-container {
    gap: 0.75em;
  }
}

@media screen and (max-width: 700px) {
  .card-container {
    flex-direction: column;
    gap: 0.75em;
  }
}
