.featuredDomains {
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 850px;
  gap: 2em;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}
