.arns-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;
  width: 25%;
  min-width: 180px;
  max-width: 250px;
  height: 200px;
  background: var(--card-bg);
  box-shadow: 0px 0px 1px #0d0d0d, 0px 8px 16px rgba(13, 13, 13, 0.9);
  border-radius: var(--corner-radius);
}

.arns-preview {
  display: flex;
  overflow: hidden;
  border-radius: var(--corner-radius);
  object-fit: cover;
  align-items: center;
  width: 100%;
  height: 70%;
}

.expiry-text {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  color: var(--text-white);
}

@media screen and (max-width: 600px) {
  .arns-card {
    flex-direction: row;
    height: 10%;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
  }

  .arns-preview {
    width: 30%;
    height: 50px;
    border-radius: 8px;
  }
}
