.arns-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0px;
  width: 245px;
  min-width: 200px;
  max-width: 250px;
  background: var(--card-bg);
  box-shadow: 0px 0px 1px #0d0d0d, 0px 8px 16px rgba(13, 13, 13, 0.9);
  border-radius: var(--corner-radius);
}

.arns-preview {
  display: flex;
  overflow: hidden;
  border-radius: var(--corner-radius);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .arns-card {
    flex-direction: row;
    height: fit-content;
    width: 100%;
    align-items: center;
    border-radius: 10px;
  }

  .arns-preview {
    width: 200px;
    height: 66px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
