.connect-button {
  display: flex;
  position: relative;
  width: 90px;
  height: 30px;
  color: var(--text-white);
  background: var(--card-bg);
  border: 2px solid var(--text-white);
  border-radius: var(--corner-radius);
  justify-content: center;
  align-items: center;
  font-family: 'Rubik';
  font-weight: 600;
  font-size: 16px;
  box-shadow: 4px 4px var(--text-white);
  top: -2px;
  left: -2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.connect-button:hover {
  cursor: pointer;
  color: var(--text-black);
  background-color: var(--text-white);
  box-shadow: 0px 0px var(--text-white);
  top: 2px;
  left: 2px;
}
