.manage-asset-button-tooltip {
  border: none;
  padding: 0px !important;
  width: fit-content !important;
  height: fit-content !important;
  min-width: unset !important;
}

.manage-asset-button-tooltip:hover {
  border: none;
}

.manage-button.ant-tooltip-disabled-compatible-wrapper {
  padding: 0px !important;
  border: none !important;
  fill: var(--text-faded);
}
