.tier-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 24px;
  background: #1f1f1f;
  box-shadow: 0px 0px 1px #0d0d0d, 0px 8px 16px rgba(13, 13, 13, 0.9);
  border-radius: var(--corner-radius);
  justify-content: space-between;
  align-items: flex-start;
  overflow: visible;
}
.select-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: var(--text-black);
  background: var(--text-white);
  border: 1px solid var(--text-white);
  border-radius: var(--corner-radius);
  font-family: 'Rubik-Bold';
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
.selected-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: var(--text-white);
  background: var(--bg-color);
  border: 1px solid var(--text-white);
  border-radius: var(--corner-radius);
  font-family: 'Rubik-Bold';
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
