.activeDataDropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  border: 6px;
  z-index: 10;
}
.dropdownOption {
  border-radius: 0 !important;
  cursor: pointer;
}
.dropdownOptions {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.lastDropdownOption {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  cursor: pointer;
}
.selectedDropdownOption {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: 100%;
}
.dropdownChevron {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 15px;
}
