.available {
  color: var(--success-green);
  font-weight: inherit;
  font-size: inherit;
  font-family: 'Rubik';
  height: fit-content;
}
.unavailable {
  color: var(--error-red);
  font-weight: inherit;
  font-size: inherit;
  font-family: 'Rubik';
  height: fit-content;
}
.errorContainer {
  display: flex;
  flex-direction: column;
}
.illegalChar {
  color: var(--error-red);
}
