@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik1/Rubik-Regular.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../assets/fonts/Rubik1/Rubik-Bold.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
:root {
  --bg-color: #1d1e1c;
  --text-black: #121212;
  --text-faded: #9e9e9e;
  --text-section-header: #d1d1d1;
  --text-white: #fafafa;
  --grey-white: #dfdfde;
  --error-red: #df1642;
  --success-green: #18a957;
  --action-orange: #ffbb38;
  --modal-bg: #1d1e1cee;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: none;
  background-color: var(--bg-color);
}
