@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik1/Rubik-Regular.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../assets/fonts/Rubik1/Rubik-Bold.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
:root {
  --bg-color: #1d1e1c;
  --card-bg: #1f1f1f;
  --text-black: #121212;
  --text-faded: #9e9e9e;
  --text-section-header: #d1d1d1;
  --text-white: #fafafa;
  --text-bright-white: #ffffff;
  --placeholder-text: #d1d1d1;
  --grey-white: #dfdfde;
  --error-red: #df1642;
  --success-green: #18a957;
  --accent: #ffbb38;
  --modal-bg: #1d1e1cee;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  padding: none;
  background-color: var(--bg-color);
  font-family: 'Rubik';
}

b {
  font-family: 'Rubik-Bold';
}

button {
  background-color: transparent;
  border: none;
}

.bold {
  font-family: 'Rubik-Bold';
  font-weight: 700;
}

.link {
  border: none;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--text-white);
  background: none;
  cursor: pointer;
}

.text {
  display: flex;
  font-size: 12px;
  max-width: 475px;
  text-decoration: none;
}
.text-medium {
  display: flex;
  font-size: 18px;
  max-width: 475px;
  text-decoration: none;
}
.text-large {
  display: flex;
  font-size: 24px;
  max-width: 475px;
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2em;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2em;
}
.column {
  flex-direction: column;
}

.flex-right {
  justify-content: flex-end;
}

.flex-left {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.hover:hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transform: scale(1.05);
}

.underline {
  text-decoration: underline;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.faded {
  color: var(--text-faded);
}

.white {
  color: var(--text-white);
}
.white-background {
  background: var(--text-white);
}
.black {
  color: var(--text-black);
}
.accent {
  background-color: var(--accent);
}
.round-button {
  display: flex;
  min-width: 50px !important;
  min-height: 50px !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1000px;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.round-button:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0);
  cursor: pointer;
}
.modal-container {
  position: fixed;
  display: flex;
  background-color: var(--modal-bg);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 5% 5%;
  height: fit-content;
  row-gap: 2em;
  align-items: center;
  overflow: visible;
}

.page-header {
  display: flex;
  font-family: 'Rubik-Bold';
  font-style: normal;
  font-weight: 1200;
  font-size: 72px;
  line-height: 85px;
  width: 75%;
  max-width: 850px;
  text-align: center;
  color: var(--text-bright-white);
  justify-content: center;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Rubik-Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-white);
  margin: auto;
  margin-top: 1em;
  justify-content: center;
}

.button-large {
  background-color: var(--bg-color);
  color: var(--text-white);
  border-radius: 6px;
  height: 45px;
  width: 150px;
  border: 2px solid var(--text-white);
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
.assets-see-more-button {
  background-color: none;
  color: var(--text-white);
  border-radius: 3px;
  height: 25px;
  width: 70px;
  border: 2px solid var(--text-white);
  font-family: 'Rubik-Bold';
  font-weight: 500;
  font-size: 10px;
  cursor: pointer;
}
.assets-manage-button {
  background-color: var(--text-white);
  color: var(--text-black);
  border-radius: 3px;
  height: 25px;
  width: 70px;
  border: 2px solid var(--text-white);
  font-family: 'Rubik-Bold';
  font-weight: 500;
  font-size: 10px;
  cursor: pointer;
}

.button-link {
  border: none;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--text-white);
  background: none;
  cursor: pointer;
}

.bubble-small {
  display: flex;
  align-self: flex-start;
  border-radius: 1000px;
  background-color: var(--text-white);
  font-family: 'Rubik-Bold';
  padding: 5px 15px;
}
.info-bubble {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 150px;
  height: fit-content;
  padding: 13px;
  line-break: strict;
  background-color: var(--text-white);
  border-radius: 1em;
  left: 175px;
  top: -150px;
  gap: 10px;
}

.tool-tip {
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}
.hidden {
  display: none;
}
.span-all {
  position: absolute;
  width: 98%;
  height: 100%;
  cursor: pointer;
}
.accent-button {
  display: flex;
  padding: 0.75em 2em;
  font-size: 18px;
  font-family: 'Rubik-Bold';
  font-weight: 800;
  width: fit-content;
  height: fit-content;
  border: var(--bg-color) 2px solid;
  border-radius: 10px;
  background-color: var(--accent);
  color: var(--text-black);
  cursor: pointer;
}
.outline-button {
  display: flex;
  padding: 0.75em 2em;
  font-size: 18px;
  font-family: 'Rubik-Bold';
  font-weight: 800;
  width: fit-content;
  height: fit-content;
  border: var(--text-white) 1px solid;
  border-radius: 10px;
  background-color: none;
  color: var(--text-white);
  cursor: pointer;
}

.data-input {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 45px;
  background: #fafafa;
  border: 2px solid #e0e0e0;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-family: 'Rubik-Bold';
  font-weight: 500;
  font-size: 12px;
  outline: none;
}
.data-input::placeholder {
  color: var(--placeholder-text);
}
.data-dropdown {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  height: 45px;
  background: #fafafa;
  border: 2px solid #e0e0e0;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-family: 'Rubik-Bold';
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}
.assets-table {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: 100%;
}

.assets-table-header {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 50px;
  width: 100%;
  border: 1px solid #323232;
  border-radius: 6px;
  background-color: #323232;
  align-items: center;
}
.assets-table-item {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}
.assets-table-item:nth-child(1) {
  left: 50px;
}
.assets-table-item:nth-child(2) {
  left: 25%;
}
.assets-table-item:nth-child(3) {
  left: 50%;
}
.assets-table-item:nth-child(4) {
  left: 75%;
}
.assets-table-item:nth-child(5) {
  right: 10px;
}
/* TOP LEVEL RESIZE RULES */
@media screen and (max-width: 600px) {
  .page-header {
    font-size: 48px;
    line-height: unset;
  }
  .section-header {
    font-size: 14px;
    line-height: unset;
  }
  .assets-table-item:nth-child(1) {
    left: 10px;
  }
  .assets-table-item:nth-child(2) {
    left: 45%;
  }
  .assets-table-item:nth-child(3) {
    display: none;
  }
  .assets-table-item:nth-child(4) {
    right: 10px;
  }
  .assets-table-item:nth-child(5) {
    display: none;
  }
  .assets-table-item {
    font-size: 10px;
  }
  .assets-see-more-button {
    width: 40px;
    height: 30px;
  }
}
