.left-arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 7px solid var(--text-faded);
}

.bottom-arrow::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 7px solid var(--text-faded);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: -6px;
}
