/* UpgradeDomainForMarketplaceModal styles */
.accept-checkbox .ant-checkbox-wrapper {
  color: white;
}

.accept-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary);
  border-color: var(--primary);
}

.accept-checkbox .ant-checkbox-inner {
  border-color: var(--grey);
}

.accept-checkbox .ant-checkbox:hover .ant-checkbox-inner {
  border-color: var(--primary);
}
