.menu {
  position: absolute;
  z-index: 10;
  min-height: unset;
  top: 110px;
  align-items: flex-start;
  padding: 40px;
  gap: 25px;
}

@media screen and (max-width: 600px) {
  .menu {
    top: 95px;
  }
}
